<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Espacio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Detalles del Espacio</h1>
    <p><strong>ID:</strong> <%= espacio.id %></p>
    <p><strong>Nombre:</strong> <%= espacio.nombre %></p>
    <p><strong>Ubicación:</strong> <%= espacio.ubicacion %></p>
    <p><strong>Capacidad:</strong> <%= espacio.capacidad %></p>
</body>
</html>
